@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.container {
  background-color: var(--color-element-blue);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 110px;
  height: 110px;
  background-image: url("../../assets/images/symbol_logo_white.svg");
  background-repeat: no-repeat;
  background-position: center, 60%;
}
.textLogo {
  width: 200px;
  height: 50px;
  background-image: url("../../assets/images/codegram_logo_title_white.svg");
  background-repeat: no-repeat;
  background-position: center, 60%;
  margin-top: 14px;
}

.description {
  color: white;
}

.btnContainer {
  background-color: var(--color-component-white);
  height: 38vh;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnEmailLogin {
  @include flex;
  padding: 11px;
  margin: 40px 0 0 0;
  border: none;
  border-radius: var(--border-radius-large);
  background-color: var(--color-element-blue);
  color: var(--color-component-white);
}

.btnSignUp {
  @include flex;
  padding: 10px;
  margin: 14px 0 0 0;
  border: 1px solid var(--color-element-blue);
  border-radius: var(--border-radius-large);
  background-color: var(--color-component-white);
  color: var(--color-font-gray);
}
.icon {
  margin-left: 8px;
}
.text {
  width: 100%;
  text-align: center;
  padding-right: 24px;
}
