.container {
  background-color: var(--color-element-blue);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 110px;
  height: 110px;
  background-image: url("../../assets/images/symbol_logo_white.svg");
  background-repeat: no-repeat;
  background-position: center, 60%;
}

.btnContainer {
  background-color: var(--color-component-white);
  height: 38vh;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnEmailLogin {
  display: block;
  width: 80%;
  padding: 11px;
  margin: 50px 0 0 0;
  border: none;
  border-radius: var(--border-radius-large);
  background-color: var(--color-element-blue);
  color: var(--color-component-white);
  text-align: center;
}

.btnSignUp {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 30px 0 0 0;
  border: 1px solid var(--color-element-blue);
  color: var(--color-font-gray);
  border-radius: var(--border-radius-large);
  background-color: var(--color-component-white);
  text-align: center;
}
