.postsWrapper {
  .feedItem {
    display: flex;
    gap: 12px;
    padding: 20px var(--side-padding-feed);
    padding-bottom: 24px;

    .profileImg {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      background-color: var(--color-element-gray);
    }

    .postContent {
      width: 100%;

      .author {
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .username {
          font-size: var(--font-size-regular);
        }
        .accountname {
          font-size: var(--font-size-detail);
          color: var(--color-font-gray);
        }
        .openModal {
          width: 18px;
        }
      }

      .textContent {
        font-size: var(--font-size-regular);
        padding: var(--side-padding-feed) 0;
      }

      .images {
        border-radius: var(--border-radius-post);
        border: 0.5px solid var(--color-element-gray);
        text-align: center;
        margin-bottom: 8px;
      }

      .date {
        font-size: var(--font-size-small);
        color: var(--color-font-gray);
      }

      .heartComments {
        max-width: 98px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--color-font-gray);
        button,
        .commentCount {
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: var(--font-size-detail);
        }
      }
    }
  }
}

.emptyFeed {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: var(--font-size-regular);
  color: var(--color-font-gray);

  img {
    width: 74px;
  }
}
