.chatContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: calc(100vh - 109px); // 상단 헤더(48px)와 하단 네비게이션 바(61px) 높이를 뺀 값
  background-color: var(--color-component-gray);
}

.chatList {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 16px 16px 5px 16px;
  gap: 10px;

  .messageWrapper {
    display: flex;
    align-items: flex-start;
    max-width: 322px;
    width: 100%;
  }
  
  .chatProfile {
    margin-right: 12px;
    flex-shrink: 0;
  }
  
  .message {
    padding: 12px;
    border-radius: 10px;
    word-break: break-all;
    max-width: calc(100% - 54px); // 프로파일 이미지 너비(42px)와 마진(12px)을 뺀 값
  }
  .user {
    justify-content: flex-end;
    margin-left: auto;
    .message {
      border-radius: 10px 0px 10px 10px;
      font-size: var(--font-size-regular);
      color: var(--color-component-white);
      background-color: var(--color-element-blue);
    }
  }
  .assistant {
    .message {
      border: 1px solid var(--color-font-gray-light);
      border-radius: 0px 10px 10px 10px;
      font-size: var(--font-size-regular);
      color: var(--color-font-black);
      background-color: var(--color-component-white);
    }
  }
}

.chatForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  border-top: 1px solid var(--color-element-gray);
  background-color: var(--color-component-white);
  .chatInput {
    flex-grow: 1;
    padding: 8px;
    border: none;
    font-family: Spoqa Han Sans Neo;
    font-size: var(--font-size-regular);
    text-overflow: ellipsis;
    background-color: var(--color-component-white);
    &::placeholder {
      color: var(--color-font-gray-light);
    }
    &:not(:placeholder-shown) { // 입력 필드에 텍스트가 없을 때 스타일
      &::placeholder {
        color: var(--color-font-black);
      }
      & + .forwardButton {
        color: var(--color-element-blue);
      }
    }
  }
  .chatInput:focus { outline: none };
  .forwardButton {
    padding: 8px 16px;
    border: none;
    font-weight: 500;
    font-size: var(--font-size-regular);
    white-space: nowrap;
    color: var(--color-font-gray-light);
    background-color: var(--color-component-white);
    &:active {
      color: var(--color-element-blue);
    }
  }
}