/* 공통 정렬 스타일 */
@mixin flex-center($direction: row, $justify: space-between) {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;
  flex-direction: $direction;
  justify-content: $justify;
}

.chatHeader {
  @include flex-center(row, space-between);
  width: 100%;
  height: 48px;
  padding: 0 var(--side-padding-feed);
  border-bottom: 1px solid var(--color-element-gray);
  .leftGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .chatTitle {
      padding-bottom: 0px;
      font-weight: 500;
      font-size: var(--font-size-regular);
      color: var(--color-font-black);
      white-space: nowrap;
    }
  }
}

.chatFormMarginBottom {
  margin-bottom: -40px;
}

.chatNickname {
  color: var(--color-element-blue);
}
