.portfolioItem {
  min-width: 200px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.portfolioImage {
  width: 140px;
  height: 90px;
  object-fit: cover;
  border-radius: var(--border-radius-post);
}

.portfolioItemTitle {
  padding: 10px;
  margin: 0;
  font-size: var(--font-size-regular);
}

.portfolioItemDescription {
  padding: 0 10px 10px;
  margin: 0;
  font-size: var(--font-size-detail);
  color: var(--color-element-blue);
}
