/* 공통 정렬 스타일 */
@mixin flex-center {
  display: flex;
  align-items: center;
}

.profileEditHeader {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  padding: 10px 16px;
  height: 48px;
  padding: 0 var(--side-padding-feed);
  border-bottom: 1px solid var(--color-element-gray);
  .saveType {
    &:hover {
      background-color: #0077ff;
      border: none;
      transform: scale(0.98);
    }
  }
}

.profileEditMain {
  @include flex-center;
  flex-direction: column;
  padding: 34px;
}

.profileEditImages {
  @include flex-center;
  flex-direction: row;
  position: relative;
}

.profileEditImg {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-element-gray);
}

.imageUploadWrapper {
  @include flex-center;
  justify-content: center;
  position: absolute;
  width: 36px;
  height: 36px;
  bottom: 0;
  right: 0;
}

.profileEditInput {
  width: 100%;
  padding-top: 30px;
}
