.container {
  padding: 30px 34px;
}
h1 {
  text-align: center;
  padding-bottom: 12px;
  font-size: 24px;
  color: var(--color-font-black);
}
p {
  text-align: center;
  font-size: var(--font-size-regular);
  padding-bottom: 30px;
  color: var(--color-font-gray);
}
