//Modal.module.css

.modal-overlay {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 480px;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-title {
  font-size: 16px;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.modal-buttons {
  width: 100%;
}
.modal-buttons button:first-child {
  border-right: 1px solid #dbdbdb;
}

button {
  width: 50%;
  padding: 14px 0;
  font-size: 14px;
}

.button-confirm {
  color: #0088ff;
}
