.tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #dbdbdb;
  color: #767676;
  text-decoration-line: none;
  padding: 10px 0;
  margin: 0 auto;
}

.icon {
  width: 24px;
  height: 24px;
  &.active {
    filter: invert(30%) sepia(91%) saturate(6400%) hue-rotate(200deg)
      brightness(90%) contrast(102%);
  }
}

.text {
  font-size: 10px;
  color: #767676;
  &.active {
    color: #0088ff;
  }
}

.link {
  text-decoration: none;
  text-align: center;
}
