@import "./reset.css";

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: SpoqaHanSansNeo-Regular;
  background-color: var(--color-background-body);
}

.container {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--color-component-white);
}

:root {
  --color-background-body: #D4D4D4;
  --color-component-gray: #F2F2F2;
  --color-component-white: #FFF;
  --color-error-red: #EB5757;
  --color-element-blue: #0088FF;
  --color-element-skyblue: #A6D5FF;
  --color-element-gray: #DBDBDB;
  --color-font-black: #000;
  --color-font-gray: #767676;
  --color-font-gray-light: #C4C4C4;

  --font-size-large: 18px;
  --font-size-title: 16px;
  --font-size-regular: 14px; 
  --font-size-detail: 12px;
  --font-size-small: 10px;
}