* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #d4d4d4;
}

.container {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}
