// /* 공통 정렬 스타일 */
// @mixin flex-center {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// /* ProfileInfo 스타일 */
// .profileInfo {
//   @include flex-center;
//   padding: 16px;
//   background-color: var(--color-component-white);
// }

// .profileHeader {
//   @include flex-center;
//   width: 100%;
//   padding: 10px 16px;
// }

/* ProfileInfo 스타일 */
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: var(--color-component-white);
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 10px 16px;
}

.profileImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 0;
}

.profileFollow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-regular);
  color: var(--color-font-black);
}

// .followersCount,
// .followingsCount {
//   font-weight: bold;
//   text-align: center;
//   color: var(--color-font-gray);
// }

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  text-align: center;
}

.profileUsername {
  font-size: var(--font-size-large);
  color: var(--color-font-black);
  margin-bottom: 4px;
}

.profileAccountname {
  font-size: var(--font-size-detail);
  color: var(--color-font-gray);
  margin-bottom: 4px;
}

.profileIntro {
  font-size: var(--font-size-regular);
  color: var(--color-font-gray);
}

/* profileAction 스타일 (버튼) */
.profileAction {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* ProfileTabs 스타일 (page-profile ui 구현할 때 코드 이동 예정) */
.profileTabs {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 15px 15px;

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
