/* 공통 정렬 스타일 */
@mixin flex-center($direction: row, $justify: space-between) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
  justify-content: $justify;
}

/* 공통 count 스타일 */
@mixin count-style($color) {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: $color;
}

/* ProfileInfo 스타일 */
.profileInfo {
  @include flex-center(column, center);
  background-color: var(--color-component-white);
}

.profileHeader {
  @include flex-center(row, space-between);
  max-width: 480px;
  width: 100%;
  padding: 0 var(--side-padding-feed);
  height: 48px;
  border-bottom: 1px solid var(--color-element-gray);
  background-color: var(--color-component-white);
  transition: transform 0.2s ease;
  position: fixed;
  top: 0;
  z-index: 1000;

  .leftGroup {
    display: flex;
    align-items: center;
    gap: 30px;
    .logo {
      cursor: pointer;
    }
  }
}

.headerHidden {
  transform: translateY(-100%); /* 헤더를 위로 숨기기 */
}

.profileTopSection {
  @include flex-center(row, space-between);
  gap: 20px;
  padding-top: 50px;
}

.profileImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid var(--color-element-gray);
  margin: 30px;
  object-fit: cover;
}

.profileFollow {
  @include flex-center(column, center);
  cursor: pointer;
  gap: 5px;

  .followersCount {
    @include count-style(var(--color-font-black));
  }

  .followingsCount {
    @include count-style(var(--color-font-black));
  }

  .label {
    font-size: var(--font-size-small);
    color: var(--color-font-gray);
  }
}

.profileDetails {
  @include flex-center(column, center);

  .profileUsername {
    font-size: var(--font-size-large);
    color: var(--color-font-black);
    margin-bottom: 4px;
  }

  .profileAccountname {
    font-size: var(--font-size-detail);
    color: var(--color-font-gray);
    margin-bottom: 4px;
  }

  .profileIntro {
    font-size: var(--font-size-regular);
    color: var(--color-font-gray);
    margin-top: 15px;
  }
}

/* profileAction 스타일 (버튼) */
.profileAction {
  @include flex-center(row, center);
  padding: 25px;
  .myProfileButton {
    display: flex;
    gap: 10px;
  }
  .profileType {
    &:hover {
      background-color: #ededed;
      transform: scale(0.98);
      border: none;
    }
  }
  .followType {
    &:hover {
      background-color: #0077ff;
      transform: scale(0.98);
    }
  }
}

/* ProfileTabs 스타일 */
.profileTabs {
  @include flex-center(row, flex-end);
  height: 44px;
  gap: 15px;
  padding: 9px 16px;
  border: 1px solid var(--color-element-gray);

  img {
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
