.root {
  --padding-left-right-login: 140px;
  --padding-left-right-feed: 30px;
  --padding-left-right-profile: 40px;
  --padding-left-right-follow: 11px; 
  --padding-left-right-post: 25px;
  --border-blue: 1px solid var(--color-element-blue);
  --border-gray: 1px solid var(--color-element-gray);
}

// 1. 버튼 기본타입
.buttonBasic {
  max-width: 322px;
  padding-top: 7px;
  padding-bottom: 7px;
}

// 2. 버튼 좌우패딩
.paddingLogin {
  padding-left: var(--padding-left-right-login);
  padding-right: var(--padding-left-right-login);
}
.paddingFeed {
  padding-left: var(--padding-left-right-feed);
  padding-right: var(--padding-left-right-feed);
}
.paddingProfile {
  padding-left: var(--padding-left-right-profile);
  padding-right: var(--padding-left-right-profile); 
}
.paddingFollow {
  padding-left: var(--padding-left-right-follow);
  padding-right: var(--padding-left-right-follow);
}
.paddingPost {
  padding-left: var(--padding-left-right-post);
  padding-right: var(--padding-left-right-post);
}

// 3. 버튼 보더색상
.borderBlue { border: var(--border-blue) }
.borderGray { border: var(--border-gray) }

// 4. 버튼 보더둥글기
.borderRadiusLarge { border-radius: var(--border-radius-large) }
.borderRadiusRegular { border-radius: var(--border-radius-regular) }
.borderRadiusSmall { border-radius: var(--border-radius-small) }
.borderRadiusPost { border-radius: var(--border-radius-post) }

// 5. 버튼 폰트크기
.fontSizeLarge { font-size: var(--font-size-large) }
.fontSizeTitle { font-size: var(--font-size-title) }
.fontSizeRegular { font-size: var(--font-size-regular) }
.fontSizeDetail { font-size: var(--font-size-detail) }
.fontSizeSmall { font-size: var(--font-size-small) }

// 6. 버튼 폰트굵기
.fontWeightNormal { font-weight: normal }
.fontWeightBold { font-weight: var(--font-bold) }

// 7. 버튼 폰트색상
.fontWhite { color: var(--color-component-white) }
.fontGray { color: var(--color-font-gray) }

// 8. 버튼 배경색상
.colorEnable { background-color: var(--color-element-blue) }
.colorDisable { background-color: var(--color-element-skyblue) }
.colorCommon { background-color: var(--color-component-white) }