/* ---------- 로그인 페이지 버튼 ---------- */ 
.login-blue-button {
  max-width: 322px;
  width: 322px;
  height: 45px;
  border-radius: 45px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  background-color: #0088FF;
}
.login-skyblue-button {
  max-width: 322px;
  width: 322px;
  height: 45px;
  border-radius: 45px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  background-color: #A6D5FF;
}
.login-white-button {
  max-width: 322px;
  width: 322px;
  height: 45px;
  border: 1px solid #0088FF;
  border-radius: 45px;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
  background-color: #FFF;
}

/* ---------- 메인 피드 페이지/에러 페이지 버튼 ---------- */
.page-blue-button {
  max-width: 120px;
  width: 120px;
  height: 45px;
  border-radius: 45px;
  font-size: 14px;
  color: #FFF;
  background-color: #0088FF;
}

/* ---------- 프로파일 페이지 버튼 ---------- */
.profile-blue-button {
  max-width: 120px;
  width: 120px;
  height: 35px;
  border-radius: 35px;
  font-size: 14px;
  color: #FFF;
  background-color: #0088FF;
}
.profile-gray-button {
  max-width: 120px;
  width: 120px;
  height: 35px;
  border: 1px solid #DBDBDB;
  border-radius: 35px;
  font-size: 14px;
  color: #767676;
  background-color: #FFF;
}

/* ---------- 팔로우 목록 페이지 버튼 ---------- */
.follow-list-blue-button {
  max-width: 56px;
  width: 56px;
  height: 28px;
  border-radius: 28px;
  font-size: 12px;
  color: #FFF;
  background-color: #0088FF;
}
.follow-list-gray-button {
  max-width: 56px;
  width: 56px;
  height: 28px;
  border: 1px solid #DBDBDB;
  border-radius: 28px;
  font-size: 12px;
  color: #767676;
  background-color: #FFF;
}

/* ---------- 프로필 저장/게시글 저장 및 등록 페이지 버튼 ---------- */
.post-blue-button {
  max-width: 90px;
  width: 90px;
  height: 32px;
  border-radius: 32px;
  font-size: 14px;
  color: #FFF;
  background-color: #0088FF;
}
.post-skyblue-button {
  max-width: 90px;
  width: 90px;
  height: 32px;
  border-radius: 32px;
  font-size: 14px;
  color: #FFF;
  background-color: #A6D5FF;
}