.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  &::after {
    content: var(--warning-message);
    padding-top: 6px;
    font-size: var(--font-size-detail);
    line-height: 14px;
    font-weight: 400;
    color: var(--color-error-red);
  }
}
.inputLabel {
  color: var(--color-font-gray);
  font-size: var(--font-size-detail);
  padding-bottom: 20px;
}
.inputField {
  border: 0;
  border-bottom: 1px solid var(--color-element-gray);
  font-size: var(--font-size-regular);
  padding-bottom: 9px;
  line-height: 14px;
  color: var(--color-font-black);
  &:focus {
    outline: 0;
  }
}
