.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 60px);
  z-index: 1002;
  .loadImage {
    width: 80px;
    height: 80px;
  }
}