body{
  -ms-overflow-style: none;
  .errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 238px;
    padding-bottom: 353px;
    .errorBalloon {
      padding-bottom: 30px;
      padding-left: 132px;
      padding-right: 132px;
    }
    .errorText {
      padding-bottom: 20px;
      padding-left: 112px;
      padding-right: 112px;
      font-size: var(--font-size-regular);
      color: var(--color-font-gray);
    }
  }
}
::-webkit-scrollbar {
  display: none;
}